
  .bordered {
    width: 1000px;
    height: 1200px;
    padding: 20px;
    border: 10px solid black;
    background-color: lightpink;
  }
  .firstclass {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: medium;
  }
  .image {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .bio {
    margin: 2rem auto;
    padding: 0px 0.5rem;
    max-width: 40rem;
  }
  .bio > h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1.2;
  }
  .bio > p{
    font-size: 1.2rem;
    line-height: 1.4;
  }
  .bio >hr{
    
    border-top: 3px solid black;
  }